body {
}
a:link {
    font-style:normal !important;
    color:darkgray !important;
    text-decoration:none !important;
    
}
.itemFormat {
    margin:5px;
    border:solid;
    border-color:lightgrey;
    border-width:1px;
    padding:5px 5px 5px;
    /*width:200px;*/
}

.itemFormat:hover {
    border-color:orange;
}

.imageFormat { 
    /*filter: grayscale(100%) !important; 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);*/
}

.itemTitle {
    display:inline;
    font-size:20px;
    color:black;
}
.itemBy {
    /*display:inline;*/
    font-size:15px;
}
.selectedItemFormat {
    border:solid;
    border-color:lightgray;
    border-width:3px;
}
.itemStatsSmaller {
    display:inline;
    font-weight:lighter;
    font-size:12px;
}
.itemStatsBigger {
    display:inline;
    font-weight:bolder;
    font-size:18px;
}
.SectionItem {
    margin:5px 0px 0px;
    padding:2px;
    border:1px;
    border-style:solid;
    border-color:gray;
    cursor:pointer;
}
.SectionItem-over {
    border-color:black;
}
.SectionItem-selected {
    border-color:orange;
}